@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
/* ---navbar---- */
/* **************Navbar CSS************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    /* width: 100%; */
    position: sticky;
    /* height: 90px; */
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #38b6ff;
}

#navbar>div a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* font-family: sans-serif; */
    font-weight: bold;
    font-size: 20px;
   
}
#logo{
    width: 150px;
}

#navbar>div>a:hover {
    /* color: rgb(0, 63, 139); */
    border-bottom:solid 2px #e7eee7;
}
#loginBtn{
    background-color: #e7eee7;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-bottom:10px ;
}
#loginBtn:hover{
    background-color: transparent;
    /* border: solid #fff; */
}

/* **************Navbar CSS************** */

/* **************Responsive CSS************** */
@media only screen and (max-width: 768px) {
    /* Adjust font size for smaller screens */
    #navbar>div a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    /* Adjust font size and line height for even smaller screens */
    #navbar>div a {
        font-size: 16px;
        line-height: 1.4;
    }

    /* Reduce logo size for smaller screens */
    #navbar>div:first-child a img {
        width: 100px;
        height: 50px;
    }
}
/* **************Responsive CSS************** */


/* ----body Css--- */
.swiper-wrapper img{ 
    width:100%;
    height: 450px;
   
}
.banner-container{

    border: solid 1px rgb(158, 196, 211);
    
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: rgb(157, 152, 152);
    /* background-color: rgba(213, 222, 222, 0.629); */
    border-radius: 50px;    
}

.swiper .swiper-pagination-bullet-active{
    background: #282727
}
.sec1{
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 30px;
}
.sec1-card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding:20px;
    border-radius: 10px;
   
}
.sec1-card  button{
    padding: 15px;
    border: none;
    border-radius: 5px;
    color:#fff;
    background-color: #44bece;
}
.sec1-card p{
    height: 120px;
}
.sec2{
    width: 95%;
    margin:auto;
    margin-top: 70px;
    /* border: solid red; */
    height: 100px;
    border-radius: 15px;
    padding: 20px;
    background-color: #44bece;
}
#sec2-text{
    display:flex;
    align-items: center;
    justify-content:space-around;
    color: #fff;
}
#sec2-text h2{
    font-size: 30px;
}
#bookBtn{
    width: 25%;
    /* padding: 20px; */
    font-size: 20px;
    border: none;
    background-color: aliceblue;
    border-radius:10px;
}
.sec3-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 95%;
    margin: auto;

}
.sec3-card div{
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    background-color: rgba(224, 228, 232, 0.377);
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}
.sec3-card div img{
    width: 190px;
    border-radius:100px ;
}
.sec3-card div button{
    padding: 15px;
    border: none;
    border-radius: 5px;
    color:#fff;
    background-color: #44bece;
    width: 80%;
    font-size: 20px;
}
.sec-title{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}
.sec-title span{
    color: #44bece;
}

.sec4-card{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    
}

.sec4-card ul li{
    line-height: 40px;
    font-size: 20px;
    list-style:decimal;

}
.sec4 img{
    width: 500px;
}

/* medium Screen */

@media screen and (min-width:750px) and (max-width:1120px) {
    .sec3-card{
        
        grid-template-columns: repeat(3,1fr);
        /* gap: 30px;
        width: 95%;
        margin: auto;
     */
    }
}  

/* small Screen */
@media screen and (min-width:320px) and (max-width:750px) {
    .nav-element{
        display: none;
    }
    #sec2-text{
        flex-direction: column;
      
    }
    #sec2-text button{
        padding: 10px;
        height: 60px;
       
    }
    .sec2{
        width: 90%;
        height: 140px;
       
       
    }
    .sec3-card{        
        grid-template-columns: repeat(2,1fr);
     
    }
    .sec1{
        text-align: center;
        line-height: 35px;
        width: 75%;
        grid-template-columns: repeat(1,1fr);
    }
    .sec4-card{
        display:flex ;
        flex-direction: column-reverse;
        margin: 120px 50px;
        
    }
    
}

